SPRING_PROFILES_ACTIVE=docker
USER_DB_NAME=userServiceDb
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=
USER_SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/userServiceDb
USER_SPRING_DATASOURCE_USERNAME=postgres
USER_SPRING_DATASOURCE_PASSWORD=
USER_SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
REDIS_HOST=redis
REDIS_PORT=6379
APP_URL=http://localhost:8081
SERVICES_INTERNAL_SECRET=
GATEWAY_INTERNAL_SIGNING_SECRET=
INTERNAL_TTL_SECONDS=60
